name: build-images

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: alfa
            context: ./alfa
            platforms: linux/amd64,linux/arm64
          - name: cuda
            context: ./cuda
            platforms: linux/amd64
          - name: diagnostics
            context: ./diagnostics
            platforms: linux/amd64
          - name: kustomize
            context: ./kustomize
            platforms: linux/amd64
          - name: network
            context: ./network
            platforms: linux/amd64,linux/arm64
          - name: terraform
            context: ./terraform
            platforms: linux/amd64,linux/arm64
          - name: terragrunt
            context: ./terragrunt
            platforms: linux/amd64
          - name: ubi-8-fips
            context: ./ubi-8-fips
            platforms: linux/amd64,linux/arm64
          - name: ubi-8-micro
            context: ./ubi-8-micro
            platforms: linux/amd64,linux/arm64
          - name: ubi-8-minimal
            context: ./ubi-8-minimal
            platforms: linux/amd64,linux/arm64
          - name: ubi-8-standard
            context: ./ubi-8-standard
            platforms: linux/amd64,linux/arm64
    steps:
      - uses: actions/checkout@v4
      - name: Validate Dockerfile
        run: docker run --rm -i hadolint/hadolint < ${{ matrix.context }}/Dockerfile || true
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: ${{ secrets.DOCKERHUB_USERNAME != '' && secrets.DOCKERHUB_TOKEN != '' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          platforms: ${{ matrix.platforms }}
          push: ${{ secrets.DOCKERHUB_USERNAME != '' && secrets.DOCKERHUB_TOKEN != '' }}
          tags: |
            arunsanna/${{ matrix.name }}:latest
            arunsanna/${{ matrix.name }}:${{ github.sha }}
