name: build-images

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Sanity
        run: echo "workflow ok"
