name: build-on-demand

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Container to Build'
        required: true
        default: 'alfa'
        type: choice
        options:
          - alfa
          - cuda
          - diagnostics
          - kustomize
          - network
          - terraform
          - terragrunt
          - ubi-8-fips
          - ubi-8-micro
          - ubi-8-minimal
          - ubi-8-standard

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hadolint Dockerfile Validator
        run: |
          docker run --rm -i hadolint/hadolint < ${{ github.event.inputs.name }}/Dockerfile || true

  build:
    needs: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ github.event.inputs.name }}
          push: true
          tags: arunsanna/${{ github.event.inputs.name }}:latest
          cache-from: type=registry,ref=arunsanna/${{ github.event.inputs.name }}:buildcache
          cache-to: type=registry,ref=arunsanna/${{ github.event.inputs.name }}:buildcache,mode=max

  snyk-scan:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Snyk to check Docker image for vulnerabilities
        uses: snyk/actions/docker@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: arunsanna/${{ github.event.inputs.name }}:latest
          args: --severity-threshold=high

  trivy-scan:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: arunsanna/${{ github.event.inputs.name }}:latest
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
